* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'minesweeper', Arial, sans-serif;
    background-color: rgb(118, 121, 139);
}


@font-face {
    font-family: 'minesweeper';
    src: url('font.otf') format('OpenType');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'timer';
    src: url('timer.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: auto;
    font-size: 25px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    align-items: center;
    box-shadow: white 3px 3px;
    width: 330px
}

.dashboard {
    width: 340px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-top: 40px;
    border-collapse: separate;
    background-color: #c0c0c0;
    border-top: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    border-bottom: 10px solid #7b7b7b;
    border-right: 10px solid #7b7b7b;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
}

.mine-counter {
    font-family: 'timer';
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    width: 75px;
    height: 45px;
    display: flex; /* Added to align the span in the center */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

span {
    color: rgb(215, 55, 55); /* Specific text color for the span */
    -webkit-transform: scale(1, 1.35); /* Scale for WebKit browsers */
    transform: scale(1, 1.35); /* Scale normally */
}


.timer {
    font-family: 'timer';
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center; /* border: 3px solid white; */
    color: rgb(228, 60, 60);
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 75px;
    height: 45px;
}

.smiley {
    font-family: 'timer';
    font-size: 30px; /* border: 3px solid white; */
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
    position: relative;
    width: 45px;
    height: 45px;
    cursor: pointer;

}

.dashboard2 {
    width: 340px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border-collapse: separate;
    background-color: #c0c0c0;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
}

.input-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-start; /* Align children to the left */

}

.number-box {
    font-family: 'minesweeper', Arial, sans-serif;
    text-align: center;
    color: black;
    background-color: #c0c0c0;
    margin-right: 10px;
    width: 60px;
    height: 45px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
}

.number-box::-webkit-inner-spin-button,
.number-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-box::placeholder {
    color: rgb(78, 78, 78); /* Set your desired placeholder text color here */
}

.image-container {
    position: relative; /* Establishes a positioning context */
    width: 131px; /* Set to required width, or match to image width */
    height: auto; /* Adjust height based on content */
}

.life-counter-box {
    justify-content: flex-start;
    margin-left: 5%;
    width: 131px;
    height: 47px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
}



.board-border {
    width: 340px;
    margin: 0 auto;
    display: flex; /* Using Flexbox to shrink-wrap the div to its contents */
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    padding: 2px;
    background-color: #c0c0c0;
    border-top: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    border-bottom: 10px solid #7b7b7b;
    border-right: 10px solid #7b7b7b;
}

.board-container {
    display: table;
    max-width: 947px;
    width: 100%; /* Make the board-container take full width of its parent by default */
    table-layout: fixed; /* Enforces fixed column widths */
    margin: auto; /* Centering if needed */
    padding: 2px;
    background-color: rgb(192, 192, 192);
    border: 5px solid rgb(192, 192, 192);
    border-collapse: separate;
    overflow: auto;
}



.board {
    /* max-width: 947px; */
    display: table-row-group;
    background-color: rgb(192, 192, 192);

}

.cell {
    display: table-cell;
    font-size: 25px;
    border-style: ridge;
    background-color: rgb(192, 192, 192);
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-bottom: 5px solid #7b7b7b;
    border-right: 5px solid #7b7b7b;
    width: 45px;
    min-width: 45px;
    height: 50px;
    cursor: pointer;
    white-space: nowrap
}

.cell img {
    margin-top: 3.5px;

}

.shown {
    border-width: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1)
}

.explode {
    background-color: red;
}